<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fairytale.server.model.payment.mapper.PaymentMapper">

    <!-- 결제정보 저장 -->
    <insert id="addPayment" parameterType="PaymentDto">
        INSERT INTO PAYMENT (USERID, "NAME", PRODUCT, AMOUNT, ADDRESS, "DATE")
        VALUES (#{userId}, #{name}, #{product}, #{amount}, #{address}, SYSDATE)
    </insert>

    <!-- 5개 결제정보 시간 순으로 내림차순 불러오기 불러오기-->
    <select id="paymentList" resultType="com.fairytale.server.model.payment.dto.PaymentDto">
        SELECT * FROM (
                          SELECT
                              a.*,
                              ROW_NUMBER() OVER (ORDER BY a."DATE" DESC) as rnum
                          FROM
                              PAYMENT a
                      ) num
        WHERE num.rnum BETWEEN ((#{currentPage} - 1) * #{pageSize} + 1) AND (#{currentPage} * #{pageSize})
    </select>

    <!-- 모든 결제정보 주문번호 순으로 내림차순 불러오기-->
    <select id="getDESCPaymentId" resultType="com.fairytale.server.model.payment.dto.PaymentDto">
        SELECT * FROM PAYMENT
    </select>

</mapper>